body {
  margin: 0px;
  scroll-behavior: smooth;
}
@font-face {
  font-family: GillSans;
  src: url('./fonts/GillSans/Gill\ Sans.otf');
}
@font-face {
  font-family: GillSansItalic;
  src: url('./fonts/GillSans/Gill\ Sans\ Italic.otf');
}
@font-face {
  font-family: GillSansBold;
  src: url('./fonts/GillSans/Gill\ Sans\ Bold.otf');
}
@font-face {
  font-family: GillSansBolder;
  src: url('./fonts/GillSans/Gill\ Sans\ Heavy.otf');
}